.Container {
    height:55vmin;
    width:100%;
    margin-top: 10px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    
}

.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;

}
.inner:hover img {
    transform: scale(1.5);
}
ul{
    padding-inline-start: initial;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.card {
    margin: 109px auto  ;
    border:none;
    outline:none;
    display: flex;
    justify-content: center;
    text-align: center;
    /* padding: ; */
    position: relative;
  
}
.card > img {
    width:10em;
    height:20em;
    margin: 0 auto;
}

.card-title > h5{
margin-bottom: 10px;
}
.card-body > p{
margin: auto;
font-size: 1.1rem;
line-height: 2.1;
}
.card-body { 
    position: absolute;
    top:400px;
    left:30px;
    background: white;
    width: 70%;
    margin: 10px auto;
    text-align: center;
}

.link {
    list-style-type: none;
}
@media screen and (max-width:425px) {
    .Container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}